*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: rgb(32, 32, 78);
}

.container{
    width: 400px;
    background: white;
    padding: 25px 35px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.container p{
    font-weight: bold;
    margin-bottom: 10px;
}

.container input{
    padding: 10px;
    border: 1px solid gray;
    width: 100%;
    height: 20px;
    outline: 0;
    border-radius: 5px;
    margin: 10px 0 20px;
}

.container button{
    width: 100%;
    height: 30px;
    background: rgb(78, 78, 226);
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0,0,0,0.1);
    cursor: pointer;
    margin: 20px 0;
}

#imgbox{
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}
#imgbox img{
  width: 100%;
  padding: 10px 0;
}

#imgbox.showimg{
    max-height: 300px;
    margin: 12px auto;
}
/* applying animations and keyframes */
.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}